@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.widget {
  display: flex;
  flex: 1;
  justify-content: space-between;
  @include shadow;
  box-shadow: inset 0 0 1px;

  .widget-left, 
  .widget-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-weight: $lfw;
      color: gray;
      font-size: $afs;
    }

    .counter {
      font-weight: $afw;
      color: gray;
      font-size: $afs;
      width: max-content;
    }

    .link {
      font-weight: $lfw;
      color: gray;
      font-size: $sfs;
      width: max-content;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: $afs;

      &.positive {
        color: $title;
      }

      &.negative {
        color: $font;
      }
    }

    .icon {
      font-size: $lfs;
      padding: 0.5rem;
      border-radius: $radius;
      align-self: flex-end;
    }
  }
}
