@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.single-page {
  display: flex;
  width: 100%;

  .single-page-contianer {
    background-color: $main;
    flex: 5;

    .top {
      display: flex;
      padding: 1rem;
      gap: 1rem;

      .left {
        flex: 1.6;
        @include shadow;
        position: relative;

        .edit-button { 
            position: absolute;
            top: 0.2rem;
            right: 0.2rem;
            @include btn2;
            color: #0000ff;
            font-weight: $aafw;

        }

        .item {
            display: flex;
            gap: 1rem;

          .item-image {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
          }

          .details {

            .detail-title{
                margin-bottom: 0.5rem;
                color: gray;
            }

            .detail-info{
                margin-bottom: 0.3rem;
                font-size: $sfs;
            }

          }
        }
      }

      .right {
        flex: 3;
      }
    }

    .bottom {
      @include shadow;
    }

    .title {
        color: gray;
        font-size: $sfs;
        margin-bottom: 1rem;
        padding: $textPadding;
    }
  }
}
