@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.new-page {
  display: flex;
  width: 100%;

  .new-page-container {
    background-color: $main;
    flex: 5;

    .add-user-container {
      padding: 1rem 0 0 1rem;

      .title {
        color: gray;
        font-size: $afs;
      }
    }

    .form-container {
      @include box;
      display: flex;
      justify-content: space-between;

      .left-cotainer {
        flex: 1;
        text-align: center;
        justify-content: center;

        .image {
          @include imageSize;
        }
      }

      .right-cotainer {
        flex: 2;

        .form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          gap: 1rem;

          .input-container {
            position: relative;
            margin: 20px;
            width: 40%;

            .input-field {
              display: block;
              width: 100%;
              padding: 10px;
              font-size: 1rem;
              border: none;
              border-bottom: 2px solid #ccc;
              outline: none;
              background-color: transparent;
            }

            .input-label {
              position: absolute;
              top: 0;
              left: 0;
              font-size: 1rem;
              color: rgba(204, 204, 204, 0);
              pointer-events: none;
              transition: all 0.3s ease;
            }

            .input-highlight {
              position: absolute;
              bottom: 0;
              left: 0;
              height: 2px;
              width: 0;
              background-color: #007bff;
              transition: all 0.3s ease;
            }

            .input-field:focus + .input-label {
              top: -20px;
              font-size: 12px;
              color: #007bff;
            }

            .input-field:focus + .input-label + .input-highlight {
              width: 100%;
            }
          }

          .file-input-container {
            position: relative;
            margin: 20px;
            width: 40%;

            .file-field {
              display: none;
              width: 100%;
              padding: 10px;
              font-size: 1rem;
              border: none;
              border-bottom: 2px solid #ccc;
              outline: none;
              background-color: transparent;
            }

            .file-label {
              display: flex;
              align-items: center;
              gap: 1rem;
              padding: 10px;
              border-bottom: 2px solid #ccc;

              .icon {
                cursor: pointer;
              }
            }
          }

          .btn-container {
            width: 150px;

            .btn {
              @include btn1;
            }
          }
        }
      }
    }
  }
}
