@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.sidebar {
  background-color: $aside;
  flex: 1;
  border-right: 0.5px solid red;
  min-height: 100vh;

  .sidbar-logo {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-size: $aafs;
      font-weight: $aafw;
      color: $logo;
    }
  }

  .horizontal-line {
    height: 0;
    border: $border;
  }

  .sidbar-lists {
    padding-left: 1rem;

    .list-items {
      .sub-title {
        text-transform: uppercase;
        font-size: 0.6rem;
        color: gray;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        align-items: center;
      }
      .item {
        padding: 0.2rem 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: $sidebar;
        }

        .sidebar-icon {
          color: $title;
        }

        .span-text {
          font-size: 1rem;
          font-weight: $afw;
          color: gray;

          &:hover {
            color: $font;
          }
        }
      }
    }
  }

  .backgroung-color {
    padding-left: 1rem;
    .bg-title {
      text-transform: uppercase;
      font-size: 0.6rem;
      color: gray;
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
    }

    .color-options {
      display: flex;
      align-items: center;
      margin: 1rem;
      gap: 1rem;
      .color-option {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: $radius;
        border: 1px solid purple;
        cursor: pointer;

        &:nth-child(1) {
          background-color: #f0f8ff;
        }

        &:nth-child(2) {
          background-color: #000000;
        }
      }
    }
  }
}
