@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.chart {
  flex: 4;
  @include box;

  .revenue {
    text-align: center;
  }

  .chart-Grid {
    stroke: none;
  }
}