
// Fonts
$font: 'Roboto Condensed', sans-serif;
$font-family: 'Ubuntu Mono', monospace;

// Font Color
$header-color: #569572;
$header-font-color: #778899;
$title: #2e8b57;
$logo: #0000cd;
$hr: #b7a2a293;
$navbar : #808080;
$edit: rgba(60, 0, 255, 0.768);
$sidebar: #ded0ed;

// hover 
$button-hover: #7bd17bfc;
$color: #ff2a04;

// Fonts Size
$sfs: 0.7rem;
$afs: 1.2rem;
$aafs: 1.8rem;
$lfs: 2.2rem;

// Font Weight
$sfw: 200;
$afw: 400;
$aafw: 600;
$lfw: 800;

// Background
$header:#f0f8ff;
$title: #228b22;
$nav-menu1:	#e6e6fa;
$nav-menu2: #B0C4DE;
$main: #F8F8FF;
$section: #f8f8ff;
$aside: #F0F8FF;
$footer: #9FAFDF;
$buttonbg: #4682b4;
$editbg: #ebebf8;

// padding
$buttonPadding: 0.2rem;
$boxPadding: 0.5rem 1rem;
$textPadding: 0.2rem 0.5rem;

// border radius
$radius: 0.2rem;
$radius-color: #c6a8ed;
$border: #9b98f3;


// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%
