@import "../../styles/Variables.scss";

.display {
  display: block;
  width: 200px;
  border-radius: 0.5rem;
  min-height: fit-content;
  background-color: $header;
  padding: 0.3rem 1rem;
  position: fixed;
  top: 2.8rem;
  right: 0.2rem;

  .close-icon {
    float: right;
    cursor: pointer;

    &:hover{
      background-color: red;
      border-radius: 50%;
    }
  }

  .item {
    padding: 1rem;
    &:hover {
      background-color:	#9cd6e4;
    }

    .link {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.hide {
  display: none;
}
