@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';


.product-page {
  width: 100%;
  max-width: $mobile;
  margin: auto;

  .organic-foods-container {
    width: 100%;
    max-width: $mobile;
    margin:1rem auto;

    .meals-title {
      @include title;
    }

    .products-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .product-info {
        .price-rating-btn {
        }
      }
    }
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .product-page {
    width: 100%;
    max-width: $tablet;
    margin: auto;
  
    .organic-foods-container {
      width: 100%;
      max-width: $tablet;
      margin:1rem auto;
  
      .meals-title {
        @include title;
      }
  
      .products-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
  
        .product-info {
          .price-rating-btn {
          }
        }
      }
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1001px) {
  .product-page {
    width: 100%;
    max-width: $laptop;
    margin: auto;
  
    .organic-foods-container {
      width: 100%;
      max-width: $laptop;
      margin:1rem auto;
  
      .meals-title {
        @include title;
      }
  
      .products-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
  
        .product-info {
          .price-rating-btn {
          }
        }
      }
    }
  }
}
