@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';


.product-page {
  width: 100%;
  max-width: 1024px;
  margin: auto;

  .organic-foods-container {
    width: 100%;
    max-width: 1024px;
    margin:1rem auto;

    .meals-title {
      @include title;
    }

    .products-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      row-gap: 1rem;

      .product-info {
        .price-rating-btn {
        }
      }
    }
  }
}
