@import '../../styles/Variables.scss';
@import '../../styles/Mixins.scss';

.procedure-page {
  width: $mobile;
  margin: 1rem auto;
  border-radius: 0.5rem;

  .about-page-title {
    font-size: 1.6rem;
    text-align: center;
    color: $header-color;
    padding: 1rem;
  }

  .service-ordering-processes {
    width: $tablet;
    margin: 1rem auto;
  }
}

/* Tablet screen size */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .procedure-page {
    width: $tablet;
    margin: 1rem auto;

    .about-page-title {
      font-size: 2.5rem;
      text-align: center;
      color: $header-color;
      padding: 2rem;
    }

    .service-ordering-processes {
      width: $tablet;
      margin: 1rem auto;
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1rem;
    }
  }
}

/* Labtop screen size */
@media screen and (min-width: 1024px) {
  .procedure-page {
    width: $laptop;
    margin: 1rem auto;

    .procedure-page-title {
      @include title;
    }

    .service-ordering-processes {
      width: $laptop;
      margin: 1rem auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
    }
  }
}
