@import '../../../styles/Variables.scss';
@import '../../../styles/Mixins.scss';

.users-data-table {
  width: 100%;
  padding: 1rem;

  .add-user {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .add-title {
      @include subTitle;
    }

    .link {
      @include button;
    }
  }

  .users-table {
    width: 100%;

    .table-head {
      background-color: #b0c4de;
      text-align: left;

      .table-head-row {
        border-radius: 1rem;

        .head-cell {
          padding: 0.5rem 0.3rem;
        }
      }
    }

    .table-body {
      .table-body-row {
        .body-cell {
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;

          .action-wrapper {
            width: 50px;
            display: flex;
            gap: 1rem;

            .link {
              @include btn2;
            }

            .button {
              @include btn2;
            }
          }
        }

        .body-cell-image {
          width: 200px;
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;

          .image-wrapper {
            width: 250px;
            display: flex;
            align-items: center;
            gap: 0.5rem;

            .image {
              width: 3rem;
              height: 3rem;
              border-radius: 50%;
            }

            .name {
              text-align: left;
            }
          }
        }

        .body-cell-email {
          width: 250px;
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;
        }

        .body-cell-age {
          width: 90px;
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;
        }

        .body-cell-status {
          width: 150px;
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;

          &.active {
            color: $title;
          }

          &.passive {
            color: $color;
          }

          &.pending {
            color: goldenrod;
          }
        }

        .body-cell-action {
          border-bottom: 1px solid #ddd;
          padding: 0 0.5rem;
          width: 150px;

          .action-wrapper {
            display: flex;
            justify-content: space-between;

            .link {
              display: flex;
              align-items: center;
              @include btn2;
            }

            .button {
              @include btn2;
              color: $color;
            }
          }
        }
      }
    }
  }
}
